.custom-gradient
  background: rgb(34,87,122)
  background: linear-gradient(90deg, rgba(34,87,122,1) 0%, rgba(87,204,153,1) 100%)

.custom-gradient h3, .custom-gradient p
  color: #fff
.cajon.color-secundario
  background-color: #EBFCEF !important
.pasos-a.color-primario .pasos-a__circle
  background-color: #22577A !important
.pasos-a.color-primario .pasos-a__linea__esquina__linea, .pasos-a.color-primario .pasos-a__linea .hor-line, .pasos-a.color-primario .pasos-a__numero::after
  border-color: #22577A !important
.tarjeta.color-acento-botones--borde
  background-color: #EBFCEF !important
  border: 0 !important
  min-height: 295px
.tabs-a.color-acento-botones .tabs-a__tab:hover, .tabs-a.color-acento-botones .tabs-a__tab:active, .tabs-a.color-acento-botones .tabs-a__tab:focus, .tabs-a.color-acento-botones .tabs-a__tab__selected, .tabs-a.color-acento-botones .tabs-a__tab__selected:before
  background-color: #22577A !important
  color: #fff
.tabs-a__tab
  background-color: #E8E8E8
i.fa-check
  color: #22577A
