.custom-gradient
  background: rgb(34,87,122)
  background: linear-gradient(90deg, rgba(34,87,122,1) 0%, rgba(87,204,153,1) 100%)

.custom-gradient h3, .custom-gradient p
  color: #fff
.cajon.color-secundario
  background-color: #EBFCEF !important
.pasos-a.color-primario .pasos-a__circle
  background-color: #22577A !important
.pasos-a.color-primario .pasos-a__linea__esquina__linea, .pasos-a.color-primario .pasos-a__linea .hor-line, .pasos-a.color-primario .pasos-a__numero::after
  border-color: #22577A !important
.tarjeta.color-acento-botones--borde
  background-color: #EBFCEF !important
  border: 0 !important
  min-height: 295px
.tabs-a.color-acento-botones .tabs-a__tab:hover, .tabs-a.color-acento-botones .tabs-a__tab:active, .tabs-a.color-acento-botones .tabs-a__tab:focus, .tabs-a.color-acento-botones .tabs-a__tab__selected, .tabs-a.color-acento-botones .tabs-a__tab__selected:before
  background-color: #22577A !important
  color: #fff
.tabs-a__tab
  background-color: #E8E8E8
i.fa-check
  color: #22577A
.neg-margin
  margin-left: -3rem
  margin-right: -3rem

.img-infografica__item
  width: 4.5%
.img-infografica.color-secundario .img-infografica__item__dot:before, .img-infografica.color-secundario .img-infografica__item__dot:after
  background-color: #F15A24 
.light-blue
  background-color: aliceblue
.slide-top
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both

  @-webkit-keyframes slide-top
  0%
    -webkit-transform: translateY(0)
    transform: translateY(0)

  100%
    -webkit-transform: translateY(-50px)
    transform: translateY(-50px)

@keyframes slide-top
  0%
    -webkit-transform: translateY(0)
    transform: translateY(0)

  100%
    -webkit-transform: translateY(-50px)
    transform: translateY(-50px)

.num-blur
  display: flex
  align-items: center
  cursor: pointer
  &__num
    background-color: $color-secundario
    width: 40px
    height: 40px
    flex-shrink: 0
    border-radius: 50%
    position: relative
    div
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%,-50%)
  &__text
    margin-left: 10px
    line-height: 1.2em
    filter: blur(5px)
    transition: filter 0.3s ease-in-out

  &:hover
    .num-blur__text
      filter: blur(0px)

.parrafo-tema-5
  img
    width: 49%
    margin: 2% 0 2% 2%
    float: right

.curso-main-container
  &> .container
    overflow: initial